.form-despesa {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 12pt;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.form-despesa input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 3px;
  width: auto;
}

.form-despesa select {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 3px;
  width: auto;
}

.form-despesa label {
  margin: 3px;
}

.btn-wallet {
  border: 1px solid aqua;
  border-radius: 10px;
}

.btn-wallet:hover {
  border: 3px solid aqua;
  cursor: pointer;
}
